// BODY 
body {
    /*swap tells the browser that text using the font should be displayed immediately using 
    a system font. Once the custom font is ready, it replaces the system font. */
    font-display: swap;
}

// HEADING STYLES
@each $heading in 1, 2, 3 {

    h#{$heading} {
        text-transform: uppercase;
    }
}

// BANNER FOR AL PAGES
.banner-text {
    width: 80%;
    padding: 5px;

    @include media-query($mobile-width) {
        width: 80%;
    }

    @include media-query($tablet-width) {
        width: 60%;
    }
}

// SECTIONS STYLES

@for $i from 1 through 3 {
    #section#{$i} {
        @include section-variant('section#{$i}');
    }
}

// ARTICLE STYLES

.article_with_image {

    .image_article {
        @include media-query($mobile-width) {
            width: 100%;
        }

        @include media-query($desktop-width) {
            width: 50%;
        }

    }


    .image_article img {
        max-width: 600px;
        max-height: 700px;
    }

    .text_article {
        @extend .image_article
    }
}