// COLOR PALETTE

$color_primary: #03021d;
$color_secondary: #91CC00;
$color_tertiary: #FF9B00;

//TIPOGRAPHY
$body-bg: aliceblue;
$font-family-sans-serif:'Montserrat', sans-serif;
$headings-font-family: 'Barlow Condensed', sans-serif;
$font-size-base: .875rem;
$h3-font-size:14px;

// BUTTONS
$success: $color_secondary;
$btn-font-weight: 600;
$btn-color: $color_primary;