
.btn {
    color: #03021d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.btn-success,
.btn:hover,
.btn:focus,
.btn:active {
    color: #03021d;
    background-color: #91CC00;
    border: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #91CC00;
    color: #03021d;
    border: none;
}

.font_orange {
    color: #FF9B00;
}

.fz_40 {
    font-size: 40px;
}

.bg_dark_blue {
    background-color: #03021d;
}

.text-aliceblue {
    color:aliceblue;
}

.table-dark th {
    background-color: #03021d;
    color:aliceblue
}

.video {
    width: 75%;
    height: 400px;
    margin: 10px;
}

.video iframe {
    width: 100%;
    height: 100%;
}


/* END GENERAL STYLES */




@media screen and (min-width: 320px) {
    #content {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "section1"
            "section2"
            "footer ";
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 150px 450px 0.5fr 1.5fr 400px;
    }

    .banner-text {
        width: 80%;
        padding: 5px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    nav img {
        width: 250px;
        margin-bottom: 0;
    }

    .navbar-collapse {
        flex-direction: column;
        background-color: #03021d;
        text-align: center;
    }

    .navbar-collapse>.container-fluid {
        margin-bottom: 15px;
    }

    /* Setting the stroke to green using rgb values (0, 128, 0) */

    .navbar-toggler {
        border: 0;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 248, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .article_with_image .image_article {
        width: 100%;
    }
    
    .article_with_image .text_article {
        width: 100%;
    }

    .card {
        height: 240px;
    }

    .img-thumbnail, .div-thumbnail {
        height: 150px;
        width: 150px;
    }
    

}

@media screen and (min-width: 576px) {
    .img-thumbnail, .div-thumbnail {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    #content {
        display: grid;
        grid-template-areas: 
            "nav       header"
            "nav        section1"
            "nav        section2"
            "footer     footer";
        min-height: 100vh;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 225px 0.5fr 1fr 180px;
    }

    .banner-text {
        width: 60%;
    }

    .navbar {
        justify-content: flex-start;
        font-size: 15px;
        flex-direction: column;
    }

    nav img {
        width: 250px;
        margin-bottom: 30px;
    }

    .navbar-collapse {
        text-align: left;
    }
    
    .card {
        height: 300px;
    }

    .img-thumbnail, .div-thumbnail {
        height: 400px;
        width: 400px;
    }

}

@media screen and (min-width: 1400px) {


    .article_with_image .image_article {
        width: 50%;
    }

    .article_with_image .text_article {
        width: 50%;
    }

    .img-thumbnail, .div-thumbnail {
        height: 500px;
        width: 500px;
    }

}

/*NAV STYLE*/

nav {
    grid-area: nav;
    background-color: rgb(3, 2, 29);
}

.navbar {
    padding-top: 0px;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
    color: aliceblue;
    font: inherit;
    font-size: inherit;
}

.container-fluid > .active  { 
    color: #91CC00; 
}

/*END NAV STYLE*/

/* HEADER STYLES */

header {
    grid-area: header;
    background-color: #7190a2;
    background-size: 100px 100px;
    background-image: linear-gradient(45deg, transparent 50%, #9aaaa81c 48%, #9aa59f 52%, transparent 52%), linear-gradient(135deg,
            transparent 50%, #9aaaa81c 48%, #9aa59f 52%, transparent 52%);

}

header img {
    width: 225px;
    height: 225px;
}

header p {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


/*END HEADER STYLE*/


#section1 {
    grid-area: section1;
}

article img {
    width: 100%;
    height: 100%;
}

#section2 {
    grid-area: section2;
}


/*FOOTER STYLE*/

footer {
    grid-area: footer;
    background-color: #03021d;
    border-top: 5px solid #91CC00;
    color: aliceblue;
    font-size: 11px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

footer ul img {
    height: 20px;
}

footer .form-control,
footer .form-control:focus {
    border: 0px;
    border-bottom: 1px solid aliceblue;
    height: 30px;
    margin-top: 8px;
    background-color: #03021d;
    color: aliceblue;
    width: 60%;
    box-shadow: none;
    font-size: 11px;
    text-align: center;
    border-radius: 0%;
}

footer .form-control::placeholder {
    color: aliceblue;
}

footer .btn {
    height: 30px;
    font-size: 11px;
}

footer p {
    margin: 0;
}

/*END FOOTER STYLE*/

/** CARD STYLES */

.card-classes {
    height: 600px;
    border: 0;
    background-color: aliceblue;
}

.card-classes img {
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

/** CONTACT STYLES **/

.contact .form-control,
.contact .form-control:focus {
    border: 0px;
    border-bottom: 1px solid #03021d;
    margin-top: 8px;
    color: #03021d;
    width: 60%;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0%;
    background-color: aliceblue;
}



