* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Barlow Condensed', xxss-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.btn {
    color: #03021d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.btn-success, .btn:hover, .btn:focus, .btn:active {
    color: #03021d;
    background-color: #91CC00;
    border: none;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    background-color: #91CC00;
    color: #03021d;
    border: none;
}

#content {
    display: grid;
    grid-template-areas:    "logo       header      header"
                            "logo       header      header"
                            "nav        header      header"
                            "nav        section1    aside"
                            "nav        section2    aside"
                            "nav        section3    section3"
                            "social     .           .       "
                            "footer     footer      footer";
    height: 100vh;
    grid-template-columns: 250px 2fr 0.5fr;
    grid-template-rows: 75px 75px 75px  2fr 2fr 2fr 30px 180px;
    
}

/* LOGO STYLES */

#logo {
    grid-area: logo;
    background-color: #03021d;
}

#logo img {
    width: 250px;
}

/* END LOGO STYLES */

/* HEADER STYLES */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: header;
    background-color: #7190a2;
    background-size: 100px 100px;
    background-image: linear-gradient(
        45deg,transparent 50%, #9aaaa81c 48%, #9aa59f 52%, transparent 52%
    ), linear-gradient(
        135deg,
        transparent 50%, #9aaaa81c 48%, #9aa59f 52%, transparent 52%
    );
    
}

header>.bannerDetail {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header>.bannerDetail p {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

header img  {
    height: 225px;
}


/*END HEADER STYLE*/

/*NAV STYLE*/

nav {
    grid-area: nav;
    background-color: #03021d;
}

.navbar {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    font-size: 18px;
}

.navbar > .container-fluid {
    justify-content: start;
    margin-bottom: 20px;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    color:aliceblue;
    font: inherit;
    font-size: inherit;
}

/*END NAV STYLE*/

/*SOCIAL STYLE*/

#social {
    background-color: #03021d;
}

#social ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

#social ul img {
    height: 25px;
}

/*END SOCIAL STYLE*/


#section1 {
    grid-area: section1;
}

#section2 {
    grid-area: section2;
}

#section3 {
    grid-area: section3;
}

#aside {
    grid-area: aside;
    background-color: brown;
}

footer {
    grid-area: footer;
    background-color: #03021d;
    border-top: 5px solid #91CC00;
    color: aliceblue;
    font-size: 11px;
    display: flex;
    align-items: center;
}

footer .form-control, .form-control:focus {
    border:0px;
    border-bottom: 1px solid aliceblue;
    height: 30px;
    margin-top: 8px;
    background-color: #03021d;
    color: aliceblue;
    width: 60%;
    box-shadow: none;
    font-size: 11px;
    text-align: center;
}

footer .form-control::placeholder {
    color: aliceblue;
}

footer form {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

footer .btn {
    height: 30px;
    font-size: 11px;
}

footer p {
    margin: 0;
}


